$breakpoint-phone: 600px;
.swiper-slide.swiper-slide-visible.swiper-slide-active {
  border: 1px solid lightblue;
  border-radius: 15px;
}
.swiper-slide.swiper-slide-visible.swiper-slide-next {
  background-image: linear-gradient(to top, lightblue, lightgray);
  border-radius: 15px;
}
.swiper-slide.swiper-slide-visible.swiper-slide-prev {
  background-image: linear-gradient(to top, lightblue, lightgray);
  border-radius: 15px;
}
.Swiper.swi {
  padding: 140px 30px;
  background: #f8f9fa;
  height: 110vh;
  border-bottom: 1px solid lightgray;
  h3.students {
    text-align: center;
    font-size: 34px;
    color: #2e3a59;
    margin-bottom: 20px;
  }
  .mySwiper {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .swiper-wrapper {
      display: flex;
      align-items: center;
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 800px;
        height: 400px;
        padding: 15px 10px;
        overflow: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        .personText {
          font-size: 14px;
          line-height: 20px;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          letter-spacing: 1px;
          h2.subjectTitle{
            text-align: center;
            font-weight: 700;
          }
          p.subjectText{
            padding: 10px 30px;
            @media (max-width: $breakpoint-phone) {
              padding: 10px;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}
.Swiper.swi {
  @media (max-width: $breakpoint-phone) {
    padding: 120px 10px;
    height: 100vh;
  }
}
.Swiper.swi .mySwiper .swiper-wrapper {
  transform-style: flat;
}
.Swiper.swi .mySwiper .swiper-wrapper .swiper-slide {
  @media (max-width: $breakpoint-phone) {
    width: 100%;
    height: 60vh;
  }
}
